<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahmon.visual_timetable_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Added up navigation back to MainActivity -->
        <activity
            android:name=".DisplayEventsActivity"
            android:parentActivityName=".MainActivity">
            <!-- Meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Added up navigation back to DisplayEventsActivity -->
        <activity
            android:name=".AddEventActivity"
            android:parentActivityName=".DisplayEventsActivity">
            <!-- Meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayEventsActivity" />
        </activity>

        <!-- Added up navigation back to DisplayEventsActivity -->
        <activity
            android:name=".EditEventActivity"
            android:parentActivityName=".DisplayEventsActivity">
            <!-- Meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DisplayEventsActivity" />
        </activity>

    </application>

</manifest>