<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mahmon.visual_timetable_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Added forced portrait only mode -->
        <activity
            android:name=".View.VisualTimetable"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Added up navigation backVisualTimetablevity -->
        <!-- Added forced portrait only mode -->
        <activity
            android:name=".View.DisplayEventsActivity"
            android:configChanges="orientation"
            android:parentActivityName=".View.VisualTimetable"
            android:screenOrientation="portrait">

            <!-- Meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.VisualTimetable" />
        </activity>

        <!-- Added up navigation back to DisplayEventsActivity -->
        <!-- Added forced portrait only mode -->
        <activity
            android:name=".View.AddEventActivity"
            android:configChanges="orientation"
            android:parentActivityName=".View.DisplayEventsActivity"
            android:screenOrientation="portrait">

            <!-- Meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.DisplayEventsActivity" />
        </activity>

        <!-- Added up navigation back to DisplayEventsActivity -->
        <!-- Added forced portrait only mode -->
        <activity
            android:name=".View.EditEventActivity"
            android:configChanges="orientation"
            android:parentActivityName=".View.DisplayEventsActivity"
            android:screenOrientation="portrait">

            <!-- Meta-data tag required to support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.DisplayEventsActivity" />
        </activity>

        <!-- Added AppMethods to manifest -->

        <activity android:name=".BaseActivity"></activity>
    </application>

</manifest>